#Signup_container {
    width: 100dvw;
    height: 100dvh;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {

    #Signup {
        height: 85% !important;
        padding: 0px !important;
        width: 95% !important;
    }

    #Signup img {
        height: 40px !important;
    }

    #Signup>div {
        background-color: transparent !important;
        box-shadow: none !important;
        display: flex !important;
        padding: 0px !important;
        width: 100% !important;
        border-radius: 5px !important;
        height: 95% !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    body.darkMode #Signup>div {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .signup_insideForm_div>div:nth-child(1) {
        width: 100% !important;
    }

    .signup_insideForm_div>div>div {
        width: 80% !important;
    }

    .inputTransition input {
        width: 100% !important;
    }
}

#Signup {
    padding: 20px;
    box-shadow: 0 0 -10px rgba(0, 0, 0, 0.14);
    width: 100%;
}

#Signup>div {
    padding: 10px;
    width: 42%;
    border-radius: 10px;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    box-shadow: 20px 20px 40px #00000041, inset -20px -20px 40px #ffffffbb;
    animation: rotate 1s normal;
}

body.darkMode #Signup>div {
    background-color: black;
    box-shadow: none;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#Signup img {
    height: 50px;
    filter: brightness(200%);
}

body.darkMode #Signup img {
    filter: brightness(200%) invert(100%);
}

@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}


.signup_insideForm_div .inputTransition input {
    padding: 5px 10px;
    transition: 0.6s;
    outline: none;
    background-color: transparent;
    color: white;
    height: 35px;
    font-size: 15px;
}

.signup_insideForm_div .inputTransition i {
    height: 1px;
    background-color: black;
    transition: 0.6s;
}

body.darkMode .signup_insideForm_div .inputTransition i {
    background-color: white;
}

/* Target autofilled input fields */
.signup_insideForm_div .inputTransition input:-webkit-autofill {
    background-color: black;
}

.signup_insideForm_div .inputTransition input:focus,
.signup_insideForm_div .inputTransition input:valid {
    background-color: rgb(25, 25, 28);
    color: white;
}

body.darkMode .signup_insideForm_div .inputTransition input:focus,
body.darkMode .signup_insideForm_div .inputTransition input:valid {
    background-color: white;
    color: black;
}

.signup_insideForm_div .inputTransition input:not(:valid):not(:placeholder-shown) {
    background-color: black;
    color: red;
}


.signup_insideForm_div .inputTransition input:not(:valid):not(:placeholder-shown)~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

.signup_insideForm_div .inputTransition input:not(:valid):not(:placeholder-shown)~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}


.signup_insideForm_div .inputTransition input:focus~i,
.signup_insideForm_div .inputTransition input:valid~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}

.signup_insideForm_div .inputTransition input:focus~span,
.signup_insideForm_div .inputTransition input:valid~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

.signup_insideForm_div .inputTransition span {
    position: absolute;
    top: 3px;
    left: 0;
    padding: 5px 5px;
    font-size: 1em;
    transition: 0.6s;
    font-weight: 600;
    pointer-events: none;
    transform: translate(0);
    letter-spacing: 1px;
}

.googlePicDiv {
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.googlePicSignIn {
    width: 50%;
    height: 38px !important;
}

.github_Fb_login_div {
   
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.github_Fb_login_div>div i {
    font-size: 30px;
    background-color: transparent !important;
}

.github_Fb_login_div>div:nth-child(1) i {
    font-size: 27px;
}

.login_signIn_Btn {
    background-color: #16BEF6;
    color: white;
}

body.darkMode .login_signIn_Btn {
    background-color: rgb(255, 0, 0);
    color: white;
}