#NotificationPop {
    position: fixed;
    z-index: 7;
    right: -100vw;
    top: 17vh;
    width: 30vw;
    height: 55px;
    max-height: 60px;
    transition: all 0.3s ease-out;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Gabarito', sans-serif;
}

#NotificationPop.active {
    right: 1vw;
    top: 17vh;
}

#NotificationPop>section:nth-child(1).red {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f61616;
}

#NotificationPop>section:nth-child(1).green {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 205, 14);
}

#NotificationPop>section:nth-child(1)>i {
    color: white;
}

#NotificationPop>section:nth-child(2) {
    width: 82%;
    display: flex;
    /* word-break: break-all; */
    border: 1px solid rgba(128, 128, 128, 0.669);
    border-left: none;
    word-wrap: break-word;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 0px 10px 0px 5px;
    background-color: #faf7f7;
}

#NotificationPop>section:nth-child(2)>p {
    padding: 0px 15px 0px 0px;
}

#NotificationPop>section:nth-child(2)>i {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.709);
    cursor: pointer;
}