#ViewPost_Scroll_Div {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media only screen and (max-width: 500px) {
    #ViewPost_ViewPost_RecentQuestions_Container {
        width: 100%;
        margin-top: 27vh !important;
        flex-direction: column !important;
        padding: 0px 10px !important;
    }
  

    #ViewPost {
        width: 100% !important;
        padding: 10px 0px !important;
    }

    #ViewPost_Details {
        margin: 0px 0px 0px 0px !important;
    }

    #ViewPost_Details>div:nth-child(1) {
        gap: 10px !important;
        flex-wrap: wrap !important;
    }

    .ViewPost-ellipsis-Vertical {
        top: 107% !important;
        right: 15px !important;
    }

    #ViewPost_Date_Views_comments {
        font-weight: 500 !important;
        display: flex;
        gap: 17px !important;
        flex-wrap: wrap !important;
        font-size: 13px !important;
        align-items: center;
    }

    #ViewPost_Edit_Delete {
        font-size: 20px;
        padding: 2px 9px !important;
    }

    #ViewPost-Question-Container{
        /* padding: 0px !; */
    } 
    #ViewPost-Question {
        margin: 0 auto;
        width: 100%;
        padding: 10px 0px !important;
    }

    #ViewPostName {
        font-size: 14px !important;
        margin-top: 0px !important;
    }

    .ViewPost-Category {
        font-size: 11px !important;
    }

    #ViewPost-Title {
        font-size: 20px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        line-height: 27px !important;
    }

    #ViewPost_Like_Dislike_BookMark>div i {
        font-size: 20px !important;
    }

    #ViewPost_Poll_Div {
        padding: 0px 10px 10px 10px !important;
        margin-top: 20px !important;
    }

    #ViewPost_Poll_Div p {
        font-size: 16px !important;
        margin: 14px 0px 6px 0px !important;
    }

    .ViewPost_Poll_Option {
        font-size: 13px !important;
    }

    .ViewPost_Related_Filter_Comment_Questions {
        display: none !important;
        width: 90% !important;
        padding: 15px;
        position: sticky;
        right: 0;
        top: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin: 0 auto;
    }

    #ViewPost.none+.ViewPost_Related_Filter_Comment_Questions {
        display: block !important;
    }
}


#ViewPost_ViewPost_RecentQuestions_Container {
    width: 100%;
    margin-top: 20vh;
}

#ViewPost {
    width: 70%;
}

#ViewPost-Question-Container {
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
}

body.darkMode #ViewPost-Question-Container {
    background-color: black;
    color: white;
}

.Chat {
    width: 100%;
}

body.darkMode .Home_Nav_Container {
    background-color: #02020A;
}

.ViewPost-Category {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
    color: rgb(68, 68, 68);
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Gabarito', sans-serif;
    border: 1px solid rgba(38, 37, 37, 0.171);
}

#ViewPost_fa-ellipsis {
    font-size: 25px !important;
}

#ViewPost-Question {
    margin: 0 auto;
    width: 96%;
    border-radius: 4px;
    padding: 10px 10px;

}

#ViewPostName {
    font-size: 17px;
    font-weight: 600;
    margin-top: 3px;
    font-family: 'Poppins', sans-serif;
}

#ViewPost_Details {
    display: flex;
}

#ViewPost_Details>div:nth-child(1) {
 
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#ViewPost_Date_Views_comments>div {
    align-items: center;
}

#ViewPost_Date_Views_comments {
    font-weight: 500;
    display: flex;
    gap: 20px;
    font-size: 15px;
    align-items: center;
}



#ViewPost_Edit_Delete {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 15px;
    cursor: pointer;
}

#ViewPost_Date_Views_Comments {
    fill: rgb(0, 0, 0);
    height: 20px;
    margin-top: 1px;
}

#ViewPost-Title {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    line-height: 44px;
    letter-spacing: 1px;
}

body.darkMode #ViewPost-Title {
    color: white;
}

.ViewPost-ellipsis-Vertical {
    display: none;
    position: absolute;
    top: 108%;
    right: 16px;
    border-radius: 5px;
}

.ViewPost-ellipsis-Vertical ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    color: rgb(0, 0, 0);
    height: 35px;
    width: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: 5px;
    transition: all 100ms;
}

.ViewPost-ellipsis-Vertical ul li i {
    font-size: 15px;
    margin-bottom: 8px;
    display: inline-block;
}

.ViewPost-ellipsis-Vertical ul li:hover {
    transform: scale(1.15);
    transition: all 100ms;
}

#ViewPost-parse {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}

#ViewPost_Poll_Div {
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;

}

#ViewPost_Poll_Div h5 {
    text-align: center;
    font-size: 25px;

}

#ViewPost_Poll_Div p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 7px 0px 20px 0px;
}

#ViewPost_Poll_Div ul li {
    position: relative;
    border: 2px solid rgb(136, 136, 136);
    height: 45px;
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
}

#ViewPost_Poll_Div ul li.active {
    border: 2px solid #16BEF6;
}

.PollPercentageMeter {
    position: absolute;
    top: -1px;
    height: inherit;
    left: 0;
    border-radius: 5px;
}

.PollPercentageMeter.active {
    background-color: #33ffff4a;
}

.ViewPost_Poll_Option {

    padding: 5px 12px;
    font-family: 'Gabarito', sans-serif;
    width: 80%;
    display: flex;
    align-items: center;
    height: inherit;
}


.ViewPost_Overlay_Poll {
    text-align: right;
    border: 4px solid red;
    font-family: 'Gabarito', sans-serif;
    padding: 5px 12px;
    height: inherit;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 20%;
    border-radius: 5px;
    border: none;
}


.ViewPost_Overlay_Poll.active {
    border: 2px solid cyan;
}



#ViewPost_Like_Dislike_BookMark {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

#ViewPost_Like_Dislike_BookMark>div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px;
    width: 33.33%;
    position: relative;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.darkMode #ViewPost_Like_Dislike_BookMark>div {
    background-color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
}

#ViewPost_Like_Dislike_BookMark>div:nth-child(1) i {
    margin-bottom: 10px;
}

#ViewPost_Like_Dislike_BookMark>div button {
    display: flex;
    gap: 10px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

#ViewPost_Like_Dislike_BookMark>div i {
    font-size: 25px;
}

#ViewPost_Poll_Answer {
    font-family: 'Gabarito', sans-serif;
    margin-bottom: 10px;

}

.ViewPost_Total_Poll_Votes {
    font-family: 'Gabarito', sans-serif;
    font-size: 15px;
}

.ViewPost_Related_Filter_Comment_Questions {
    width: 30%;
    padding: 15px;
    position: sticky;
    right: 0;
    top: 10px;
    font-family: 'Poppins', sans-serif;
    height: fit-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: all 0.3s;
}

.ViewPost_Related_Filter_Comment_Questions.active {
    top: 22vh;
    transition: all 0.3s;
}

body.darkMode .ViewPost_Related_Filter_Comment_Questions {
    background-color: black;
    color: white;
}

body.darkMode .ViewPost_Related_Filter_Comment_Questions.active {
    background-color: black;
    color: white;
}

#ViewPost_RelatedQuestions {
    width: 100%;

}

#ViewPost_RelatedQuestions p {
    font-weight: 600;
}

#ViewPost_RelatedQuestions span {
    display: block;
    margin-top: 10px;
}

#ViewPost_RelatedQuestions ul li {
    list-style: disc;
    list-style-position: inside;
    margin-top: 5px;
    padding: 4px 1px;
}

.ViewPost_Filtered_Comments {
    width: 100%;
    margin-top: 10px;
}

.ViewPost_Filtered_Comments>p {
    font-weight: 600;
    margin-bottom: 15px;

}

.ViewPost_Filtered_Comments_Name_Delete {
    margin-bottom: 10px;
}

.ViewPost_Filtered_Comments_Name_Delete>p {
    text-decoration: underline;
}

.ViewPost_Filtered_Comments article {
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.442);
}