.LoaderPage {
  width: 100dvw;
  background-color: white;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 10;
  gap: 50px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .LoaderPage img {
    margin: 0 auto !important;
    height: 90px !important;
  }
}

body.darkMode .LoaderPage {
  background-color: #02020A;
}

.LoaderPage img {
  height: 160px;
  filter: brightness(200%);
  animation: scaleAnimation 2s alternate;
  transform: scale(1.1);
}

body.darkMode .LoaderPage img {
  filter: brightness(200%) invert(100%);
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}



.LoaderPage h1 {
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  font-family: 'Gabarito', sans-serif;
  color: black;
}

body.darkMode .LoaderPage h1 {
  color: white;
}

.LoaderPage_loader {
  width: 18px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #00CAFF;
  animation: l10 1.5s infinite linear;
}

body.darkMode .LoaderPage_loader {
  background: #FF3500;
  animation: l11 1.5s infinite linear;
}

@keyframes l10 {
  0% {
    box-shadow:
      0 -30px red, calc(30px*0.707) calc(-30px*0.707) black, 30px 0 red, 0 0 black,
      0 0 red, 0 0 black, 0 0 red, 0 0 black
  }

  12.5% {
    box-shadow:
      0 0 red, calc(30px*0.707) calc(-30px*0.707) black, 30px 0 red, calc(30px*0.707) calc(30px*0.707) black,
      0 0 red, 0 0 black, 0 0 red, 0 0 black
  }

  25% {
    box-shadow:
      0 0 red, 0 0 black, 30px 0 red, calc(30px*0.707) calc(30px*0.707) black,
      0 30px red, 0 0 black, 0 0 red, 0 0 black
  }

  37.5% {
    box-shadow:
      0 0 red, 0 0 black, 0 0 red, calc(30px*0.707) calc(30px*0.707) black,
      0 30px red, calc(-30px*0.707) calc(30px*0.707) black, 0 0 red, 0 0 black
  }

  50% {
    box-shadow:
      0 0 red, 0 0 black, 0 0 red, 0 0 black,
      0 30px red, calc(-30px*0.707) calc(30px*0.707) black, -30px 0 red, 0 0 black
  }

  62.5% {
    box-shadow:
      0 0 red, 0 0 black, 0 0 red, 0 0 black,
      0 0 red, calc(-30px*0.707) calc(30px*0.707) black, -30px 0 red, calc(-30px*0.707) calc(-30px*0.707) black
  }

  75% {
    box-shadow:
      0 -30px red, 0 0 black, 0 0 red, 0 0 black,
      0 0 red, 0 0 black, -30px 0 red, calc(-30px*0.707) calc(-30px*0.707) black
  }

  87.5% {
    box-shadow:
      0 -30px red, calc(30px*0.707) calc(-30px*0.707) black, 0 0 red, 0 0 black,
      0 0 red, 0 0 black, 0 0 red, calc(-30px*0.707) calc(-30px*0.707) black
  }

  100% {
    box-shadow:
      0 -30px red, calc(30px*0.707) calc(-30px*0.707) black, 30px 0 red, 0 0 black,
      0 0 red, 0 0 black, 0 0 red, 0 0 black
  }
}

@keyframes l11 {
  0% {
    box-shadow:
      0 -30px aqua, calc(30px*0.707) calc(-30px*0.707) white, 30px 0 aqua, 0 0 white,
      0 0 aqua, 0 0 white, 0 0 aqua, 0 0 white
  }

  12.5% {
    box-shadow:
      0 0 aqua, calc(30px*0.707) calc(-30px*0.707) white, 30px 0 aqua, calc(30px*0.707) calc(30px*0.707) white,
      0 0 aqua, 0 0 white, 0 0 aqua, 0 0 white
  }

  25% {
    box-shadow:
      0 0 aqua, 0 0 white, 30px 0 aqua, calc(30px*0.707) calc(30px*0.707) white,
      0 30px aqua, 0 0 white, 0 0 aqua, 0 0 white
  }

  37.5% {
    box-shadow:
      0 0 aqua, 0 0 white, 0 0 aqua, calc(30px*0.707) calc(30px*0.707) white,
      0 30px aqua, calc(-30px*0.707) calc(30px*0.707) white, 0 0 aqua, 0 0 white
  }

  50% {
    box-shadow:
      0 0 aqua, 0 0 white, 0 0 aqua, 0 0 white,
      0 30px aqua, calc(-30px*0.707) calc(30px*0.707) white, -30px 0 aqua, 0 0 white
  }

  62.5% {
    box-shadow:
      0 0 aqua, 0 0 white, 0 0 aqua, 0 0 white,
      0 0 aqua, calc(-30px*0.707) calc(30px*0.707) white, -30px 0 aqua, calc(-30px*0.707) calc(-30px*0.707) white
  }

  75% {
    box-shadow:
      0 -30px aqua, 0 0 white, 0 0 aqua, 0 0 white,
      0 0 aqua, 0 0 white, -30px 0 aqua, calc(-30px*0.707) calc(-30px*0.707) white
  }

  87.5% {
    box-shadow:
      0 -30px aqua, calc(30px*0.707) calc(-30px*0.707) white, 0 0 aqua, 0 0 white,
      0 0 aqua, 0 0 white, 0 0 aqua, calc(-30px*0.707) calc(-30px*0.707) white
  }

  100% {
    box-shadow:
      0 -30px aqua, calc(30px*0.707) calc(-30px*0.707) white, 30px 0 aqua, 0 0 white,
      0 0 aqua, 0 0 white, 0 0 aqua, 0 0 white
  }
}