:root {
    --mainBgColor: rgba(20, 20, 31, 11);
    --secondaryBgColor: rgba(27, 27, 39, 1);
    --borderColor1: rgba(40, 41, 57, 1);
    --borderColor2: rgba(79, 86, 105, 1);
    --textColorMain: #fff;
    --textColorSecondary: rgb(226, 227, 232);
    --themeColorMain: rgba(219, 26, 90, 1);
    --themeColorSecondary: #386fd2;
}

@media only screen and (max-width: 500px) {
    #Personalchat {
        margin: 54px 0px 0px 0px !important;
        width: 100%;
        height: 100% !important;
        padding: 5px !important;
    }

    .room--container {
        height: 100% !important;
        justify-content: initial !important;
    }

    #PersonalChat_Receiver_div {
        height: 10% !important;
        display: flex;
        align-items: center !important;
    }

    #PersonalChat_Receiver_div img {
        height: 35px !important;
        width: 35px !important;
    }

    #PersonalChat_Messages {
        height: 56% !important;
        margin: 0px !important;
        padding: 5px !important;
    }
    .message--wrapper{
        margin: 5px !important;
    }

    .message--body {
        padding: 5px 10px 5px 10px !important;
        border-radius: 15px !important;
    }

    .message--body span {
        font-size: 15px !important;
    }

    .PersonalChat_TextArea_btn_div>div:nth-child(1) {
        width: 80% !important;
    }

    .PersonalChat_TextArea_btn_div>div:nth-child(2) {
        width: 20% !important;
    }

    .message-timestamp {
        font-size: 11px !important;
    }

    .PersonalChatDeleteBtn {
        font-size: 11px !important;
    }
}

.PersonalChat_container {
    width: 100%;
    height: 100%;
    /* border: 2px solid pink; */
    font-family: 'Poppins', sans-serif;
}

.PersonalChat_container>div:nth-child(1) {
    height: 10%;
    background-color: #F2F2F2;
}

.PersonalChat_Ellipsis_Vertical {
    position: relative;
    /* border: 2px solid red; */
}

.PersonalChat_Ellipsis_Vertical>p {
    transform: scale(0);
    position: absolute;
    width: 109px;
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    top: 61px;
    right: 6px;
    transition: transform 0.3s ease;
}

body.darkMode .PersonalChat_Ellipsis_Vertical>p {
    background-color: white;
    color: rgb(3, 3, 3);
}

.PersonalChat_Ellipsis_Vertical>p.active {
    transform: scale(1);
}

#Personalchat {
    width: 100%;
    height: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room--container {
    height: 97%;
    width: 90%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
}

/* receiver div */
#PersonalChat_Receiver_div {
    height: 12%;
    border-bottom: 2px solid rgba(172, 171, 171, 0.317);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body.darkMode #PersonalChat_Receiver_div {
    color: white;
    background-color: black;
}

#PersonalChat_Receiver_div>div:nth-child(1) {
    width: 90%;
}

#PersonalChat_Receiver_div>div:nth-child(2) {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#PersonalChat_Receiver_div img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Login & Register Pages */

.auth--container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}





.PersonalChatDeleteBtn {
    color: rgb(255, 255, 255);
    padding: 3px 6px;
    background-color: red;
    border-radius: 5px;
}


/* Form Input Styling */
.PeronalChat_Form>div {
    margin-top: 5px;
    height: 50px;
    overflow: hidden;
}



.PersonalChat_TextArea_btn_div>div:nth-child(1) {
    width: 95%;
    height: inherit;
}

.PersonalChat_TextArea_btn_div>div:nth-child(2) {
    width: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#PersonalChatTextArea {
    font-weight: 500;
    padding: 5px 15px;
    color: rgb(255, 255, 255);
    outline: none;
    font-size: 15px;
    background-color: #3b3b3b;
    height: 50px;
    text-shadow: none !important;
    width: 100%;
    border-radius: 30px;
}

body.darkMode #PersonalChatTextArea {
    background-color: rgb(255, 255, 255);
    color: black;
}

#PersonalChatTextArea::-webkit-scrollbar {
    display: none;
}

/* Button Styling */


.send-btn--wrapper {
    width: 100%;
    height: 100%;
}

#PersonalChatSubmit {
    cursor: pointer;
    background-color: #3B3B3B;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 50%;
}

body.darkMode #PersonalChatSubmit {
    cursor: pointer;
    background-color: white;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 50%;
}

#PersonalChatSubmit:active {
    font-size: larger;
    transition: all 0.3s;

}

/* Header Styling */

#header--wrapper {
    background-color: var(--mainBgColor);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--borderColor1);
    border-bottom: none;
}

.header--link {
    color: #c7d8eb;
    cursor: pointer;
    transition: 0.3s;
}

.header--link:hover {
    color: #8db3dd;
}

/* Room Styling */



#PersonalChat_Messages {
    overflow-x: hidden;
    overflow-y: auto;
    height: 80%;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
}

body.darkMode #PersonalChat_Messages {
    background-color: #0f0f0f;
}

#PersonalChat_Messages> :first-child {
    margin-top: auto !important;
    /* border: 2px solid green; */
}

#message--form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.send-btn--wrapper {
    display: flex;
    justify-content: flex-end;

}

.message--wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5em;
    margin: 10px;
}

.message--header {
    display: flex;
    justify-content: end;
}

.message--body {
    padding: 0.5em 0;
    color: var(--textColorSecondary);
    padding: 1em;
    border-radius: 20px;
    width: fit-content;
    max-width: 100%;
    word-wrap: break-word;
}

.message--body span {
    font-size: 20px;
    color: white;
}

.PersonalChatMyColor {
    background-color: #16BEF6;
    max-width: 60%;
}

.PersonalChatYourColor {
    background-color: black;
    max-width: 60%;
}

body.darkMode .PersonalChatYourColor {
    background-color: rgb(255, 255, 255);
}

.PersonalChatYourColor span {
    color: #ffffff;
}

body.darkMode .PersonalChatYourColor span {
    color: #000000;
}

.message--body--owner {
    border: 1px solid rgba(219, 26, 90, 1);
    background-color: var(--secondaryBgColor);
}

.message-timestamp {
    margin-left: 1em;
    color: rgb(164, 161, 161);
}

.delete--btn {
    color: #8db3dd;
    cursor: pointer;
    transition: 0.3s;
    width: 16px;
}

.delete--btn:hover {
    color: red;
}