@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Noto+Serif&family=Nunito&family=Petrona:ital,wght@1,300&family=Poppins&family=Roboto+Slab&family=Varela+Round&display=swap');

.EditProfile-FormContainer {
    background-color: rgb(242, 242, 242);
    font-family: 'Nunito', sans-serif;
}

.EditProfile_form {
    width: 87%;
    margin: 0 auto;
    /* height: 100%; */
    overflow-y: scroll;

}

.EditProfile_form::-webkit-scrollbar {
    display: none;
}

.EditProfile_form::-webkit-scrollbar-thumb {
    background-color: green;
}

#EditProfile_cross_Btn {
    position: fixed;
    border-radius: 50%;
    /* border: 1px solid green; */
    padding: 5px;
    width: 38px;
    height: 38px;
    right: 1%;
    top: 1%;
    z-index: 5;
}

#EditProfile_cross_Btn i {
    color: green;
}

#EditProfile_EditImage_Div {
    background-color: rgb(255, 255, 255);
    height: 60vh;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    border-top: 1px solid rgba(128, 128, 128, 0.463);
}

#EditProfile-Prev-active {
    /* border: 1px solid purple; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#EditProfile-PrevImage {
    display: flex;
    height: 90%;
    justify-content: center;
    width: 40%;
    /* border: 2px solid red; */
}

#EditProfile-PrevImage img {
    /* max-width: 100%;
    max-height: 100%; */
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

#EditProfile-seePreviewBefore {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    /* border: 2px solid red; */
    color: grey;
}

#EditProfile-Prev-Inactive {
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
}

#EditProfile-Prev-Inactive>div:nth-child(1) {
    width: 60%;
    gap: 5px;
}

#EditProfile-Prev-Inactive>div:nth-child(2) {
    width: 40%;
    position: relative;
    /* border: 2px solid red; */
}

#EditProfile-Prev-Inactive-2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

#ReactCrop-container {
    max-width: 80%;
    max-height: 100%;
    overflow-x: hidden;
    border-radius: 5px;
    overflow-y: scroll;
}

#ReactCrop-container::-webkit-scrollbar {
    width: 2px;
}

#ReactCrop-container img {
    max-height: 300px;
    max-width: 100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.371);

}

.ReactCrop__crop-mask rect {
    fill: black !important;
    width: 100% !important;
    height: 100% !important;
    fill-opacity: 1 !important;
    /* opacity: 1; */
}

.ReactCrop__crop-selection {
    border: 2px dotted rgba(2, 2, 2, 0.752) !important;

}

.ReactCrop__drag-handle {
    background-color: black !important;
}

.ReactCrop--circular-crop .ReactCrop__crop-selection:after {
    border: 1px solid rgba(0, 0, 0, 0.562) !important;
}

#EditProfile_label_Div {
    height: 12%;
}


.EditProfile_ChooseImg {
    background-color: var(--secondryBlue);
    color: white;
    font-weight: 500;
    padding: 5px 5px;
    border-radius: 5px;
}

#myCanvas {
    border: 1px solid rgba(0, 0, 0, 0.376);
    width: 200px;
    height: 200px;
    border-Radius: 50%;
}

#EditProfile_EditContent {
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
}

#EditProfile_EditBio {
    margin-bottom: 25px;
    margin-top: 10px;
}

#EditProfile_EditBio>label,
#EditProfile_EditLinks>label,
.EditProfile_Edu_Lvl_div>p,
.EditProfile_Occupation_div>p,
.EditProfile_Interested_div>p {
    font-weight: 600;
}

#EditProfile_EditBio textarea {
    border: 1px solid rgba(6, 6, 6, 0.312);
    padding: 4px;
    height: 80px;
    letter-spacing: 0.4px;
    font-weight: 400;
    border-radius: 3px;
}

#EditProfile_EditLinks_3inputs {
    width: 40%;
}

#EditProfile_EditLinks_3inputs Input,
.EditProfile_Edu_Lvl_div input,
.EditProfile_Occupation_div input {
    border: 1px solid rgba(6, 6, 6, 0.312);
    border-radius: 2px;
    font-size: 13px;
    padding: 3px 4px;
    font-weight: 500;
}

#EditProfile_EditLinks_3inputs .Add-Link_btn {
    background-color: var(--secondryBlue);
    color: white;
    font-weight: 500;
    padding: 3px 5px;
    border-radius: 2px;
    border: none;
    font-size: 14px;
}

#EditProfile_EditLinks_LinksAdded {
    /* border: 2px solid black; */
    width: 60%;
    height: inherit;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

#EditProfile_EditLinks_LinksAdded section {
    /* border-bottom: 1px solid greenyellow; */
}

#EditProfile_EditLinks_LinksAdded .link-circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.EditProfile_EditLinks_title_url_div {
    /* border: 2px solid black; */
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 3px 5px;
}

.EditProfile_EditLinks_title_url_div::-webkit-scrollbar {
    height: 5px;
    background-color: var(--secondryBlue);
}

.EditProfile_EditLinks_title_url_div::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    /* border-radius: 10px; */
}

.EditProfile_EditLinks_title_url_div p {
    font-weight: 500;
}

.EditProfile_EditLinks_title_url_div a {
    color: gray;
}

.EditProfile_Edu_Lvl_div,
.EditProfile_Occupation_div {
    margin-bottom: 25px;
}

.EditProfile_Edu_Lvl_div label {
    color: var(--secondryBlue);
}

.EditProfile_Edu_Lvl_div select,
.EditProfile_Occupation_div select {
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: rgb(105, 105, 105);
    border: 1px solid rgba(6, 6, 6, 0.312);
    padding: 2px 3px;
    max-height: 30px;
    overflow-y: auto;
}

.EditProfile_Interested_div {
    width: 60%;
}

.EditProfile_Interested_Tag {
    padding: 0px 10px 0px 0px;
    border-radius: 5px;
}

.EditProfile_Interested_Tag>p {
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0px 7px 0px;
}

.EditProfile_tag_box {
    border: 1px solid rgba(6, 6, 6, 0.312);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.EditProfile_tag_box li {
    background-color: #d8d4d4c6;
    color: black;
    letter-spacing: 0.3px;
    border-radius: 3px;
    padding: 1px 5px;
}

.EditProfile_tag_box li span:nth-child(2) {
    border-radius: 50%;
    background-color: rgb(160, 159, 159);
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.EditProfile_tag_box li i {
    font-weight: bolder;
    font-size: 7px;
    color: rgba(0, 0, 0, 0.617);
    cursor: pointer;
}

.EditProfile_tag_box input {
    border: 1px solid var(--secondryBlue);
    border-radius: 2px;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 3px;
}

.EditProfile_Interested_remaining {
    font-weight: 500;
    font-size: 13px;
}

.EditProfile_Interested_Tag Button {
    border-radius: 2px;
    padding: 3px 4px;
}

#EditProfile_submit_btn {
    position: fixed;
    border: 1px solid rgb(255, 255, 255);
    bottom: 3%;
    right: 10%;
    color: white;
    padding: 5px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--secondryBlue);
    transform: scale(1);
    transition: transform 0.2s ease-in;
}

#EditProfile_submit_btn:active {
    transform: scale(1.3);
}

#EditProfile_submit_btn i {
    font-size: 22px;
    color: white;
}