#Profile_Bookmark_Filter {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    #Profile_Bookmark_Filtered_Bookmark>div {
        width: 100% !important;
        padding: 10px;
        margin-top: 12px;
        margin-bottom: 5px !important;
    }

    #Profile_Bookmark_Filtered_Bookmark {
        padding: 0px !important;
    }
}

#Profile_Bookmark_Filter.active {
    text-align: center;
}

#Profile_Filter_Bookmark_Form {
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 1px solid #0000001f, 1px solid rgba(0, 0, 0, 0.122) inset;
    border-radius: 6px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 64vh;
}

#Profile_Filter_Bookmark_Form>div {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
    border-bottom: 2px solid rgba(0, 0, 0, 0.059);

    padding: 4px 4px 10px 4px;
}

#Profile_Bookmark_SearchQuestion_Heading {
    font-size: 30px;
    font-family: 'Gabarito', sans-serif;
    margin-bottom: 15px;
    margin-top: 10px;
    text-decoration: underline;
}

#Profile_Filter_Bookmark_Form label {
    cursor: pointer;
}

#Profile_Filter_Bookmark_Form p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 7px;
    letter-spacing: 0.5px;
}

#Profile_Bookmark_Title {
    margin-top: 28px;
}

#Profile_Bookmark_Title_Total_Posts {
    margin: 10px 0px;
}

#Profile_Bookmark_Title input {
    padding: 2px 4px;
    font-size: 14px;
    border: 1px solid var(--secondryBlue);
}

#Profile_Bookmark_FilterByDate Input {
    outline: none;
    padding: 0px 4px;
    border: 1px solid var(--secondryBlue);
}

#Profile_Bookmark_Category select {
    border: 1px solid var(--secondryBlue);
}

#Profile_Bookmark_FilterByDate label {
    width: 39%;
}

#Profile_Bookmark_Date_Between div {
    width: 61%;
}


.Profile_Bookmark_ApplyFilter {
    padding: 5px;
    font-size: 12px;
    background-color: var(--secondryBlue);
    border-radius: 4px;
    color: white;
    position: absolute;
    top: 10px;
    right: 8px;
    transform: scale(1);
    transition: transform 0.3s;
}

.Profile_Bookmark_ApplyFilter:active {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.Profile_Bookmark_ResentFilter {
    padding: 5px;
    font-size: 12px;
    background-color: var(--secondryBlue);
    border-radius: 4px;
    color: white;
    position: absolute;
    top: 10px;
    right: 100px;
    transform: scale(1);
    transition: transform 0.3s;
}

.Profile_Bookmark_ResentFilter:active {
    transform: scale(1.2);
    transition: transform 0.3s;
}

#Profile_Bookmark_Filtered_Bookmark {
    width: 100%;
    display: flex;
    padding: 10px 10px;
    background-color: transparent;
    overflow-x: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

.BookMark_Posts {
    width: 45%;
    height: fit-content;
}

#Profile_Bookmark_Filtered_Bookmark>p {
    font-weight: 600;
    position: absolute;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
}

#Profile_Bookmark_Filtered_Bookmark>div {
    border-radius: 5px;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 25px;
    font-family: 'Varela Round', sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

body.darkMode #Profile_Bookmark_Filtered_Bookmark>div {
    background-color: black;
    color: white;
}

#Profile_Bookmark_Filtered_Bookmark>div>span {
    font-size: 14px;
}

#Profile_Bookmark_Filtered_Bookmark>div>a>p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 11px;
}

.BrowseBookmark_created_category_views span {
    font-size: 12px;
}

.Favourite_CreatedAt,
.Favourite_Category {
    background-color: rgba(208, 208, 208, 0.723);
    border-radius: 10px;
    padding: 3px 5px;
}

body.darkMode .Favourite_CreatedAt,
body.darkMode .Favourite_Category {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.BrowseBookmark_created_category_views>div {
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

.BrowseBookmark_created_category_views i {
    font-size: 13px;
}