@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Noto+Serif&family=Nunito&family=Petrona:ital,wght@1,300&family=Poppins&family=Rethink+Sans&family=Roboto+Slab&family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#ProfileSummary {
    padding: 8px 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

#ProfileSummary.darkMode {
    background-color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
}

#ProfileSummary_Bio_Div span,
#ProfileSummary_HighlvlEduDiv span:nth-child(1),
#ProfileSummary_OccupationDiv span:nth-child(1),
#ProfileSummary_InterestedDiv>span:nth-child(1) {
    font-weight: 700;
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
}

/* font-family: 'Varela Round', sans-serif; */
#ProfileSummayPre {
    margin-top: 14px;
    font-family: 'Varela Round', sans-serif;
}

#ProfileSummary_Bio_Div p {
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    margin-top: 5px;
    color: rgb(36, 36, 36);
}

.ProfileSummary_Links i {
    font-size: 13px;
    display: inline-block;
    margin-top: 3px;
}

#ProfileSummary_HighlvlEduDiv,
#ProfileSummary_OccupationDiv,
#ProfileSummary_InterestedDiv {
    font-family: 'Nunito', sans-serif;
}

#ProfileSummarySecondDiv {
    background-color: rgb(255, 255, 255);

}

#ProfileSummarySecondDiv.darkMode {
    background-color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
}

#ProfileSummarySecondDiv p {
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
}

#ProfileSummarySecondDiv ul {
    padding: 10px 30px;
}

#ProfileSummarySecondDiv ul li {
    list-style: disc;
}