#Profile_Questions_Filter {
    width: 100%;
    margin-bottom: 20px;
}

#Profile_Filter_Questions_Form {
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 1px solid #0000001f, 1px solid rgba(0, 0, 0, 0.122) inset;
    border-radius: 6px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 64vh;
}

#Profile_Filter_Questions_Form>div {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
    border-bottom: 2px solid rgba(0, 0, 0, 0.059);

    padding: 4px 4px 10px 4px;
}

#Profile_Questions_SearchQuestion_Heading {
    font-size: 30px;
    font-family: 'Gabarito', sans-serif;
    margin-bottom: 15px;
    margin-top: 10px;
    text-decoration: underline;
}

#Profile_Filter_Questions_Form label {
    cursor: pointer;
}

#Profile_Filter_Questions_Form p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 7px;
    letter-spacing: 0.5px;
}

#Profile_Questions_Title {
    margin-top: 28px;
}

#Profile_Questions_Title_Total_Posts {
    margin: 10px 0px;
}

#Profile_Questions_Title input {
    padding: 2px 4px;
    font-size: 14px;
    border: 1px solid var(--secondryBlue);
}

#Profile_Questions_FilterByDate Input {
    outline: none;
    padding: 0px 4px;
    border: 1px solid var(--secondryBlue);
}

#Profile_Questions_Category select {
    border: 1px solid var(--secondryBlue);
}

#Profile_Questions_FilterByDate label {
    width: 39%;
}

#Profile_Questions_Date_Between div {
    width: 61%;
}


.Profile_Questions_ApplyFilter {
    padding: 5px;
    font-size: 12px;
    background-color: var(--secondryBlue);
    border-radius: 4px;
    color: white;
    position: absolute;
    top: 10px;
    right: 8px;
    transform: scale(1);
    transition: transform 0.3s;
}

.Profile_Questions_ApplyFilter:active {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.Profile_Questions_ResentFilter {
    padding: 5px;
    font-size: 12px;
    background-color: var(--secondryBlue);
    border-radius: 4px;
    color: white;
    position: absolute;
    top: 10px;
    right: 100px;
    transform: scale(1);
    transition: transform 0.3s;
}

.Profile_Questions_ResentFilter:active {
    transform: scale(1.2);
    transition: transform 0.3s;
}

#Profile_Questions_Filtered_Questions {
    width: 70%;
    border-radius: 0px;
    padding: 10px 10px;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 66vh;
}

#Profile_Questions_Filtered_Questions>p {
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
}

#Profile_Questions_Filtered_Questions>div {
    border-radius: 5px;
    padding: 7px;
    margin-top: 12px;
    margin-bottom: 25px;
    font-family: 'Varela Round', sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

#Profile_Questions_Filtered_Questions>div>span {
    font-size: 14px;
}

#Profile_Questions_Filtered_Questions>div>a>p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 11px;
}

#Profile_Questions_created_category_views span {
    font-size: 12px;
    background-color: rgb(242, 242, 242);
    padding: 3px 6px;
    border-radius: 5px;
}

#Profile_Questions_created_category_views>div>span {
    background-color: transparent;
}

#Profile_Questions_created_category_views i {
    font-size: 12px;
}