@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Noto+Serif&family=Nunito&family=Petrona:ital,wght@1,300&family=Poppins&family=Roboto+Slab&family=Varela+Round&display=swap');


#askQue_div {
    /* width: 100%;
    height: 100%; */
}

@media only screen and (max-width: 500px) {
    .AskQue_Heading {
        font-size: 25px !important;
    }

    .ask_Que_Container {
        padding: 0px 8px 15px 10px !important;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #AskQue_Form {
        flex-direction: column;
    }


    #AskQue_InsideFormLeft {
        width: 100% !important;
        padding: 0px 0px 10px 0px !important;
        /* border: 1px solid red; */
    }

    #Que_Title {
        font-size: 15px !important;
    }

    #AskQue_InsideFormLeft h4 {
        font-weight: 600;
        font-size: 17px;
        margin: 10px 0px 0px 0px;
    }

    .AskQue_Opinions_From_Div {
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 10px;
    }

    .AskQue_Opinions_From_Div>div:nth-child(1) {
        width: 100% !important;
        text-align: left;
    }

    .AskQue_Opinions_From_Div>div:nth-child(2) {
        width: 100% !important;
        text-align: left;
        padding: 0px !important;
    }

    .AskQue_Opinions_From_Div span {
        font-size: 16px !important;
    }

    .AskQue_Opinions_From_Div label {
        font-size: 16px !important;
    }


    #AskQue_insideForm_right {
        width: 100% !important;
    }

    #AskQue_Thumbnail {
        height: 250px;
        width: 100% !important;
        margin-top: 0px !important;
    }

}

.ask_Que_Container {
    padding: 14px;
    width: 100%;
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Gabarito', sans-serif;
    scroll-behavior: smooth;
    /* background-color: black; */
}

.ask_Que_Container::-webkit-scrollbar {
    display: none;
}

#AskQue_Form {
    /* border: 2px solid yellow; */
    gap: 10px;
}

#AskQue_InsideFormLeft {
    width: 70%;
    padding: 10px;

}

#AskQue_InsideFormLeft textarea.darkMode {
    background-color: white;
}

#AskQue_InsideFormLeft h4 {
    font-weight: 600;
}

#AskQue_insideForm_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.Question_Title {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#Que_Title {
    outline: none;
    background-color: rgba(232, 232, 232, 0.613);
    width: 100%;
    height: 100px;
    padding: 10px;
    color: black;
    resize: vertical;
    font-size: 18px;
}

#Que_Title::placeholder {
    font-weight: 500;
    /* font-family: 'Nunito', sans-serif; */
}

.Description_div {
    /* border: 5px solid red; */
    overflow: hidden;
}

#Description_div_textarea {
    outline: none;
    background-color: rgb(232, 232, 232);
    width: 100%;
    height: 120px;
    padding: 10px;
    color: black;
}

.askque_btn {
    width: 100%;
    background-color: var(--secondryBlue);
    color: white;
    border: none;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-wrap: nowrap;
    padding: 8px 28px;
    font-size: 15px;
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.askque_btn.darkMode {
    background-color: #FF3500;
}

#AskQue_Thumbnail_preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#AskQue_Thumbnail {
    height: 250px;
    width: 90%;
    margin-top: 80px;
    /* border: 2px dotted rgba(63, 63, 63, 0.514); */
    border-width: 2px;
    border-style: dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

#AskQue_Thumbnail img {
    height: 245px;
    width: 100%;
    /* width: 340px; */
}

#AskQue_Thumbnail_label span,
#AskQue_Thumbnail_label label {
    font-weight: 600;
    cursor: pointer;
    /* font-family: 'Poppins', sans-serif; */
}

.AskQue_BrowseThumbnail {
    display: inline-block;
    font-weight: 500;
    margin-block: 5px;
    cursor: pointer;
}

#AskQue_PostType {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adding a subtle box shadow */
}

#AskQue_PostType.darkMode {
    background-color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#AskQue_PostType p {
    font-weight: bold;
    margin-bottom: 10px;
    /* color: #333; */
}

#AskQue_PostType label {
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
}

#AskQue_PostType input[type="radio"] {
    margin-right: 5px;
}

#AskQue_SelectCategory {
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 100%;

}

#AskQue_SelectCategory.darkMode {
    background-color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#AskQue_SelectCategory p {
    font-weight: 600;
}

.dropdown {
    position: relative;
    margin-top: 5px;
    /* width: 70%; */
}

.dropdown-header {
    padding: 5px 10px;
    font-weight: light;
    border: 2px solid rgba(77, 77, 77, 0.376);
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
}

.AskQue-dropdown-list {
    position: absolute;
    background: #fff;
    border: 1px dashed #aaa;
    border-top: none;
    height: 190px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.AskQue-dropdown-list.darkMode {
    background: black;
    color: white;
    border: 1px dashed #ffffffa4;
    border-top: none;
}

.dropdown-item {
    padding: 4px 4px 4px 11px;
    letter-spacing: 0.3px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 15px;
    transition: background-color 0.3 ease;
}

.dropdown-item:hover {
    background-color: #aaaaaa5a;
    transition: background-color 0.3 ease;
}

body.darkMode .dropdown-item:hover {
    background-color: #ffffff;
    transition: background-color 0.3 ease;
    color: black;
}

.dropdown-header:hover+.dropdown-list {
    display: block;
}


#AskQue_Pole {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#AskQue_Pole>p {
    font-weight: 600;
}

.AskQue_Pole_TextArea {
    margin-top: 10px;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    border: 2px solid rgba(75, 75, 75, 0.508);
    outline: none;
    resize: none;
    padding: 3px 6px;
}

.AskQue_Pole_TextArea.darkMode {
    border: 2px solid white;
}

.AskQue_AddOption_btn {
    background-color: white;
    color: black;
}

.AskQue_AddOption_btn.darkMode {
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.57);
}