.ChooseGender{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ChooseGender>div{
    box-shadow: 20px 20px 40px #00000041, inset -20px -20px 40px #ffffffbb;
}