#FindFriendsPage {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media only screen and (max-width: 500px) {
    .FindFirendsPage_Heading {
        margin-top: 12px !important;
        font-size: 17px !important;
    }

    .FindFriendsPage_Main {
        flex-direction: column-reverse !important;
        padding: 0px 5px 0px 5px !important;
    }

    .FindFriendsPage_Main section:nth-child(1) {
        width: 100% !important;
        height: fit-content !important;
    }

    .FindFriendsPage_Main section:nth-child(2) {
        width: 100% !important;
        padding: 0px 5px !important;
    }

    .FindFriendsPage_ListFriends_Searched_Person {

        padding: 10px 13px 10px 13px !important;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .FindFriendsPage_ListFriends p{
        font-size: 20px !important;
    }
}

.FindFirendsPage_Heading {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gabarito', sans-serif;

}

.Find_Friends_wrapper {
    width: 100%;
    max-width: 31.25rem;
    margin: 1rem auto;

}

.Find_Friends_wrapper svg {
    width: 30px;
}

.Find_Friends_wrapper_searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.354);
    border-radius: 20px;
}

.searchQueryInput {
    width: 100%;
    /* height: inherit; */
    background: #ffffff;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;

}

.searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

.searchQuerySubmit:hover {
    cursor: pointer;
}

.FindFriendsPage_Main {
    font-family: 'Gabarito', sans-serif;
    display: flex;
    padding: 20px;
}

.FindFriendsPage_Main section:nth-child(1) {
    width: 30%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.FindFriendsPage_Main section:nth-child(2) {
    width: 70%;
    padding: 0px 15px;
}

.FindFriendsPage_ListFriends {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    align-items: center;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}

body.darkMode .FindFriendsPage_ListFriends {
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.FindFriendsPage_ListFriends img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.FindFriendsPage_ListFriends p {
    font-size: 25px;

}

.FindFriendsPage_ListFriends_Searched_Person {
    background-color: white;
    padding: 15px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    gap: 15px;

}

.FindFriendsPage_ListFriends_Searched_Person.darkMode {
    background-color: black;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.FindFriendsPage_ListFriends_Searched_Person img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.FindFriendsPage_ListFriends_Searched_Person p {
    font-size: 20px;
}

.FindFriendsPage_ListFriends_Searched_Person>div:nth-child(2) {
    margin-block: 15px;
}