#ForgetPassword {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ForgetPassword section {
    width: 40%;
    height: 60%;
    border: 2px solid rgba(0, 0, 0, 0.044);
    box-shadow: 20px 20px 40px #00000041, inset -20px -20px 40px #ffffffbb;
}

#ForgetPassword_ConfirmationCode div:nth-child(1) {
    margin-top: 25px;
}

#ForgetPassword_ConfirmationCode div:nth-child(2) {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#ForgetPassword_ConfirmationCode div:nth-child(2) label,
#ForgetPassword_ResetPassword div:nth-child(2) label,
#ForgetPassword_ResetPassword div:nth-child(3) label {
    font-size: 20px;
    margin-bottom: 10px;
    /* border: 1px solid red; */
}

#ForgetPassword_ConfirmationCode div:nth-child(2) input,
#ForgetPassword_ResetPassword div:nth-child(2) input,
#ForgetPassword_ResetPassword div:nth-child(3) input {
    outline: none;
    width: 50%;
    border: 1px solid #dcc7c7;
    padding: 3px 5px;
    border-radius: 3px;
}

#ForgetPassword_ConfirmationCode div:nth-child(3) {
    margin-top: 30px;
}

#ForgetPassword_ConfirmationCode button {
    border: 1px solid rgba(0, 0, 0, 0.353);
    padding: 3px;
    font-size: 13px;
    border-radius: 4px;
}

#ForgetPassword_ConfirmationCode img,
#ForgetPassword_ResetPassword img {
    height: 50px;
}

/* Reset Password */

#ForgetPassword_ResetPassword div:nth-child(1) {
    margin-top: 15px;
}

#ForgetPassword_ResetPassword div:nth-child(2) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ForgetPassword_ResetPassword div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#ForgetPassword_ResetPassword button {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
}