#forget_Password {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


@media only screen and (max-width: 500px) {
    .forgetPassword_Recovery_Heading h1 {
        font-size: 17px !important;
    }

    #forget_Password input {
        padding: 5px 10px;
        transition: 0.6s;
        height: 35px;
        font-size: 10px;
        width: 100% !important;
    }

    #forget_Password form span {

        font-size: 13px !important;
    }
}

#forget_Password img {
    height: 50px;
    filter: brightness(200%);
}

body.darkMode #forget_Password img {

    filter: brightness(200%) invert(100%);
}

#forget_Password>div {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    height: 60%;
    background-color: #ffffff;
    position: relative;
    box-shadow: 20px 20px 40px #00000041, inset -20px -20px 40px #ffffffbb;
    animation: rotate 1s normal;
}

body.darkMode #forget_Password>div {
    background-color: black;
    color: white;
    box-shadow: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#forget_Password input {
    padding: 5px 10px;
    transition: 0.6s;
    outline: none;
    background-color: transparent;
    color: white;
    height: 35px;
    font-size: 15px;
}



#forget_Password i {
    height: 1px;
    background-color: black;
    transition: 0.6s;
}

body.darkMode #forget_Password i {
    background-color: rgb(255, 255, 255);
}

#forget_Password input:focus,
#forget_Password input:valid {
    background-color: rgb(25, 25, 28);
    color: white;
}

body.darkMode #forget_Password input:focus,
body.darkMode #forget_Password input:valid {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#forget_Password input:not(:valid):not(:placeholder-shown) {
    background-color: black;
    color: red;
}

#forget_Password input:not(:valid):not(:placeholder-shown)~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

#forget_Password input:not(:valid):not(:placeholder-shown)~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}

#forget_Password form {
    margin-top: 20px;
    margin-bottom: 10px;
}

#forget_Password form input:focus~i,
#forget_Password form input:valid~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}

#forget_Password form input:focus~span,
#forget_Password form input:valid~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

#forget_Password form span {
    position: absolute;
    top: 3px;
    left: 0;
    padding: 5px 5px;
    font-size: 1em;
    transition: 0.6s;
    font-weight: 600;
    pointer-events: none;
    transform: translate(0);
    letter-spacing: 1px;
}

#Google_Login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#Google_Login button {
    width: 30%;
    border-radius: 5px;
    padding: 5px 7px;
    background-color: red;
}