#Home {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    /* border: 2px solid red; */
}

.Home_Nav_Container {
    height: 115px;
    position: fixed;
    top: 0px;
    z-index: 5;
    background-color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    left: 0;
}

.Home_Nav_Container.active {
    top: -120px;
}

#Home_RIGHT_LEFT {
    margin-top: 120px;
}

#MainHome_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#MainHome_loader img {
    height: 300px;
    width: 300px;
}

.Home_Left {
    /* border: 2px solid red; */
    width: 60%;
}

.Home_Right {
    width: 40%;
    height: fit-content;
    position: sticky;
    right: 0;
    top: 0;
    /* border: 2px solid red; */
    padding: 5px;
    transition: all 0.3s;
}

.Home_Right.active {
    top: 120px;
    transition: all 0.3s;
}

.Home_loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.Home_loader::after,
.Home_loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #16BEF6 #16BEF6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.Home_loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}