#Home {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: relative;
}

#Home::-webkit-scrollbar {
    display: none;
}
@media only screen and (max-width: 500px) {

    .Home_Nav_Container.active {
        top: -220px !important;
    }

    #Home_RIGHT_LEFT {
        display: flex;
        margin-top: 160px !important;
        /* margin-top: 0px !important; */
        padding: 0px 10px 10px 10px !important;
        flex-direction: column;
        gap: 9px;
    }

    .Home_RIGHT_LEFT_Grid_div {
        /* position: absolute; */
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        border-radius: 5px;
        z-index: 3;
        width: 41px;
        height: 39px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .Home_RIGHT_LEFT_Grid_div i {
        font-size: 25px;
    }

    .Home_Left {
        width: 100% !important;
        display: block;
    }

    .Home_Right {
        display: none;
    }

    .HomeRight_Category>p {
        margin-bottom: 9px;
        margin-left: 0px;
        font-size: 20px;
        text-decoration: underline;
    }

    .HomeRight_Category span {
        font-size: 17px;
        padding: 3px 6px;
    }


    .Home_Left.none+.Home_Right {
        display: block !important;
        width: 100% !important;
    }


}

.Home_RIGHT_LEFT_Grid_div {
    display: none;
}

.Home_Nav_Container {
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 5;
    transition: all 0.3s ease-in-out, background-color 1s ease;
}

.Home_Nav_Container.darkMode {
    background-color: #02020A;
}

.Home_Nav_Container.active {
    top: -120px;
}

#Home_RIGHT_LEFT {
    margin-top: 120px;
    transition: background-color 0.2s ease;
}

#Home_RIGHT_LEFT.darkMode {
    /* background-color: #202021; */
}

#MainHome_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#MainHome_loader img {
    height: 300px;
    width: 300px;
}

.Home_Left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.Home_Right {
    width: 40%;
    height: fit-content;
    position: sticky;
    right: 0;
    top: 0;
    padding: 5px;
    transition: all 0.3s;
}

.Home_Right.active {
    top: 120px;
}

.Home_loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.Home_loader::after,
.Home_loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #16BEF6 #16BEF6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.Home_loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.Reload_Page_Btn {
    margin-left: 15px;
    background-color: var(--secondryBlue);
    border-radius: 100px;
    box-shadow: rgba(44, 187, 182, 0.2) 0 -25px 18px -14px inset, rgba(44, 177, 187, 0.15) 0 1px 2px, rgba(48, 172, 225, 0.15) 0 2px 4px, rgba(44, 180, 187, 0.15) 0 4px 8px, rgba(44, 146, 187, 0.15) 0 8px 16px, rgba(44, 151, 187, 0.15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    -moz-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

body.darkMode .Reload_Page_Btn {
    background-color: #FF3500;
    box-shadow: none;
}