#reset_Password {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    .ResetPassword_ResetPassword {
        font-size: 14px !important;
    }

    #reset_Password input {
        width: 100% !important;
    }
}

#reset_Password img {
    height: 50px;
    filter: brightness(200%);
}

body.darkMode #reset_Password img {
    filter: brightness(200%) invert(100%);
}

#reset_Password>div {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    height: 60%;
    position: relative;
}

body.darkMode #reset_Password>div {
    background-color: black;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#reset_Password input {
    padding: 5px 10px;
    transition: 0.6s;
    outline: none;
    background-color: transparent;
    color: white;
    height: 35px;
    font-size: 15px;
}



#reset_Password i {
    height: 1px;
    background-color: black;
    transition: 0.6s;
}

body.darkMode #reset_Password i {
    background-color: rgb(255, 255, 255);
}

#reset_Password input:focus,
#reset_Password input:valid {
    background-color: rgb(25, 25, 28);
    color: white;
}

body.darkMode #reset_Password input:focus,
body.darkMode #reset_Password input:valid {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#reset_Password input:not(:valid):not(:placeholder-shown) {
    background-color: black;
    color: red;
}

#reset_Password input:not(:valid):not(:placeholder-shown)~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

#reset_Password input:not(:valid):not(:placeholder-shown)~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}

#reset_Password form {
    margin-top: 20px;
    margin-bottom: 10px;
}

#reset_Password form input:focus~i,
#reset_Password form input:valid~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}

#reset_Password form input:focus~span,
#reset_Password form input:valid~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

#reset_Password form span {
    position: absolute;
    top: 3px;
    left: 0;
    padding: 5px 5px;
    font-size: 1em;
    transition: 0.6s;
    font-weight: 600;
    pointer-events: none;
    transform: translate(0);
    letter-spacing: 1px;
}