#ResponderSectionPage {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.RespondersSectionPage_PostCard {
    box-shadow: 0 0 5px rgb(4, 201, 255);
    background-color: transparent;
    overflow: hidden;
    border-radius: 10px;
}
.RespondersSectionPage_PostCard.darkMode {
    box-shadow: 0 0 10px rgb(255, 54, 4);
}