.TrustedResponderPage {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}


#TrustedResponderspage_Heading {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Gabarito', sans-serif;
}

@media only screen and (max-width: 500px) {
    .wrapper {
        width: 90% !important;
        padding: 0px !important;
        flex-direction: column !important;
    }

    .wrapper>div:nth-child(1) {
        width: 100% !important;
        padding: 14px 5px !important;
        align-items: center;
    }

    .wrapper>div:nth-child(2) {
        width: 100% !important;
        padding: 10px;
        /* border: 2px solid rgb(0, 0, 0); */
    }

    .TrustedRespondersPage_Bio {
        text-align: left !important;
        letter-spacing: 1px;
        font-size: 15px !important;
        font-weight: 500 !important;
    }

    .wrapper .TrustedRespondersPage_name {
        font-size: 20px !important;
        margin: 10px 0 5px 0;
    }

    #TrustedRespondersPage {
        width: 90% !important;
        margin: 0 auto !important;
    }

    .card {
        border-radius: 10px !important;
        height: fit-content !important;
    }
}

body.darkMode #TrustedResponderspage_Heading {
    color: white;
}

#TrustedRespondersPage {
    width: 100%;
}

.TrustedRespondersPage_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
    font-family: 'Varela Round', sans-serif;
}

.TrustedRespondersPage_container img {
    height: 180px;
    width: 180px;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.TrustedRespondersPage_container h5 {
    font-size: 23px;
    font-weight: 500;
}

.card {
    border-radius: 10px;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.card img {
    background-color: white;
}

body.darkMode .card {
    background: black;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card::-webkit-scrollbar {
    display: none;
}


.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag+.tag {
    margin-left: .5em;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info>small {
    color: #666;
}

/* My card  */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper {
    margin-top: 15px;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

body.darkMode .wrapper {
    background: black;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.wrapper .img-area,
.social-icons a,
.TrustedRespondersPage_buttons button {
    box-shadow: -3px -3px 7px #ffffff,
        3px 3px 5px #ceced1;
    font-family: 'Poppins', sans-serif;
}

body.darkMode .wrapper .img-area,
body.darkMode .social-icons a,
body.darkMode .TrustedRespondersPage_buttons button {
    box-shadow: -3px -3px 7px #ff0101,
        3px 3px 5px #ff0000;
    color: white;
    background-color: black !important;
}

.img-area img {
    background-color: white;
}

.TrustedRespondersPage_Bio {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px !important;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: relative;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
}

.wrapper>div:nth-child(1) {
    width: 35%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper>div:nth-child(2) {
    width: 65%;
    padding: 10px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.wrapper>div:nth-child(2)>div {
    font-weight: 600;
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 20px;
}

.wrapper>div:nth-child(2)>section {
    font-size: 16px;
    margin-top: 10px;
}

.wrapper .icon {
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 16px;
}

.wrapper .icon i {
    position: relative;
    z-index: 9;
}

.wrapper .icon.arrow {
    left: 15px;
}

.wrapper .icon.dots {
    right: 15px;
}

.wrapper .img-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-area .inner-area {
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}

.inner-area img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

body.darkMode .TrustedRespondersPage_name {
    font-family: 'Gabarito', sans-serif;
    color: white;
}

.wrapper .TrustedRespondersPage_name {
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0;
}

.wrapper .about {
    color: #44476a;
    font-weight: 400;
    font-size: 16px;
}

.wrapper .social-icons {
    margin: 15px 0 25px 0;
}

.social-icons a {
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}

.social-icons a:hover::before,
.wrapper .icon:hover::before,
.TrustedRespondersPage_buttons button:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff,
        inset 3px 3px 5px #ceced1;
}

body.darkMode .TrustedRespondersPage_buttons button:hover:before {
    background: black;
    box-shadow: none;
}

.TrustedRespondersPage_buttons button:hover:before {
    z-index: -1;
    border-radius: 5px;
}

.social-icons a i {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.social-icons a.fb i {
    color: #4267B2;
}

.social-icons a.twitter i {
    color: #1DA1F2;
}

.social-icons a.insta i {
    color: #E1306C;
}

.social-icons a.yt i {
    color: #ff0000;
}

.wrapper .TrustedRespondersPage_buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.TrustedRespondersPage_buttons button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #31344b;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}

.TrustedRespondersPage_buttons button:first-child {
    margin-right: 10px;
}

.TrustedRespondersPage_buttons button:last-child {
    margin-left: 10px;
}

.wrapper .social-share {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}

.social-share .row {
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.social-share .row::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: #e0e6eb;
    margin-left: -25px;
}

.row:first-child::before {
    background: none;
}

.social-share .row i.icon-2 {
    position: absolute;
    left: 0;
    top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment {
    opacity: 1;
    pointer-events: auto;
}