#BrowseQuestions {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    #BrowseQuestions_SearchQuestion_Heading {
        font-size: 22px !important;
        margin-bottom: 10px !important;
        margin-top: 0px !important;
    }

    .BrowseQuestions_Two_Div_Containers {
        flex-direction: column;
    }

    #BrowseQuestions_PostTitle {
        margin-top: 50px !important;
    }

    #BrowseQuestions_Filters {
        width: 100% !important;
        font-size: 15px;
        height: fit-content !important;
        padding: 0px 0px 0px 9px !important;
    }

    #BrowseQuestions_Filtered_Questions {
        display: none;
        width: 100% !important;
        border-radius: 0px;
        padding: 10px 10px;
        height: fit-content !important;
    }

    #BrowseQuestions_Filters.none + #BrowseQuestions_Filtered_Questions {
        display: block !important;
    }


    #BrowseQuestions_Filtered_Questions>div {
        padding: 7px;
        margin-top: 10px !important;
        margin-bottom: 15px !important;
    }


}

#BrowseQuestions_Filters {
    width: 28%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 1px solid #0000001f, 1px solid rgba(0, 0, 0, 0.122) inset;
    border-radius: 6px;
    /* background-color: white; */
    overflow-x: hidden;
    overflow-y: scroll;
    height: 64vh;
}

#BrowseQuestions_Filters.darkMode input,
#BrowseQuestions_Filters.darkMode select {
    border: 1px solid #FF3500;
}

#BrowseQuestions_Filters>div {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
    border-bottom: 2px solid rgba(0, 0, 0, 0.059);
    padding: 4px 4px 10px 4px;
}

#BrowseQuestions_SearchQuestion_Heading {
    font-size: 30px;
    font-family: 'Gabarito', sans-serif;
    margin-bottom: 15px;
    margin-top: 10px;
    text-decoration: underline;
}

#BrowseQuestions_Filters.darkMode>div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.434);
}

#BrowseQuestions_Filters label {
    cursor: pointer;
}

#BrowseQuestions_Filters p {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 7px;
    letter-spacing: 0.5px;
}

#BrowseQuestions_PostTitle {
    margin-top: 28px;
}

#BrowseQuestions_PostTitle input {
    padding: 2px 4px;
    font-size: 14px;
    border: 1px solid var(--secondryBlue);
}

#BrowseQuestions_FilterByDate Input {
    outline: none;
    padding: 0px 4px;
    border: 1px solid var(--secondryBlue);
}

#BrowseQuestions_Category select {
    border: 1px solid var(--secondryBlue);
}

#BrowseQuestions_FilterByDate label {
    width: 39%;
}

#BrowseQuestions_Date_Between div {
    width: 61%;
}


.BrowseQuestions_ApplyFilter {
    padding: 5px;
    font-size: 12px;
    background-color: var(--secondryBlue);
    border-radius: 4px;
    color: white;
    position: absolute;
    top: 10px;
    right: 8px;
    transform: scale(1);
    transition: transform 0.3s;
}

.BrowseQuestions_ApplyFilter.darkMode {
    background-color: #FF3500;
    color: white;
}

.BrowseQuestions_ApplyFilter:active {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.BrowseQuestions_ResentFilter {
    padding: 5px;
    font-size: 12px;
    background-color: var(--secondryBlue);
    border-radius: 4px;
    color: white;
    position: absolute;
    top: 10px;
    right: 100px;
    transform: scale(1);
    transition: transform 0.3s;
}

.BrowseQuestions_ResentFilter.darkMode {
    background-color: #FF3500;
}

.BrowseQuestions_ResentFilter:active {
    transform: scale(1.2);
    transition: transform 0.3s;
}

#BrowseQuestions_Filtered_Questions {
    width: 72%;
    border-radius: 0px;
    padding: 10px 10px;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 66vh;
}

.BrowseQuestions_querieName.darkMode {
    color: #FF3500;
    /* color: white; */
    font-weight: 600;
}

#BrowseQuestions_Filtered_Questions>p {
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
}

#BrowseQuestions_Filtered_Questions>div {
    border-radius: 5px;
    padding: 7px;
    margin-top: 12px;
    margin-bottom: 25px;
    font-family: 'Varela Round', sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#BrowseQuestions_Filtered_Questions.darkMode>div {
    box-shadow: 0px 0px 20px #ff33008f;
}

#BrowseQuestions_Filtered_Questions>div>span {
    font-size: 14px;
}

#BrowseQuestions_Filtered_Questions>div>a>p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 11px;
}

#BrowseQuestions_created_category_views span {
    font-size: 12px;
    background-color: rgb(242, 242, 242);
    padding: 3px 6px;
    border-radius: 5px;
}

#BrowseQuestions_created_category_views>div>span {
    background-color: transparent;
}

#BrowseQuestions_created_category_views i {
    font-size: 12px;
}