@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Noto+Serif&family=Nunito&family=Petrona:ital,wght@1,300&family=Poppins&family=Rethink+Sans&family=Roboto+Slab&family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#PostCard {
    width: 100%;
    height: 200px;
    padding: 5px 14px 5px 5px;
    border-radius: 2px;
    text-align: left;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.842);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1) inset;
}


#PostCard_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    /* border: 2px solid black; */
}

#PostCard_right {
    width: 70%;
    height: 100%;
}

#PostCard_title {
    margin-top: 2px;
    font-size: 20px;
    /* border: 2px solid black; */
    overflow: hidden;
    font-weight: bolder;
    color: rgb(62, 62, 62);
    border-radius: 5px;
    padding: 8px 8px;
    letter-spacing: 0.4px;
    font-family: 'Gabarito', sans-serif;
    word-break: break-all;
    word-wrap: break-word;
    height: 100px;
}

#PostCard_title:hover {
    color: #11161a;
}

#Post-Card-img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    /* border: 2px solid rgba(0, 0, 0, 0.273); */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1) inset;
}

#PostCard-profile-pic {
    height: 30px;
    width: 30px;
}

#PostCard-profile-name {
    color: black;
    font-family: 'Gabarito', sans-serif;
}

.PostCard_category {
    background-color: rgb(242, 242, 242);
    display: inline;
    padding: 4px 7px;
    color: rgb(68, 68, 68);
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Gabarito', sans-serif;
}

.PostCard_Date {
    font-family: 'Gabarito', sans-serif;
}

.PostCard_Views {
    font-size: 12px;
    font-family: 'Gabarito', sans-serif;
}

.PostCard_Views i {
    margin-top: 3px;
}

#PostCard_Comments_Icon i {
    font-size: 30px;
    position: relative;
    font-weight: lighter;
}

#PostCard_Comments_Icon i:nth-child(1) {
    color: rgb(3, 3, 160);
    color: black;
}

#PostCard_Comments_Icon i:nth-child(2) {
    color: rgb(201, 0, 175);
    color: black;
}

#PostCard_MaleComments {
    fill: rgb(0, 0, 0);
    height: 20px;
    margin-top: 1px;
}

#PostCard_MaleComments_p {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 14px;
}

#PostCard_FemaleComments {
    fill: rgb(212, 1, 245);
    height: 20px;
}

#PostCard_FemaleComments_p {
    color: rgb(212, 1, 245);
    font-weight: 500;
}

#PostCard_Comments_Icon i p {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gabarito', sans-serif;
    font-size: 12px;
}


/* #PostCard_Comments_Icon i:nth-child(1) small {
    color: blue;
} */