@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Noto+Serif&family=Nunito&family=Petrona:ital,wght@1,300&family=Poppins&family=Rethink+Sans&family=Roboto+Slab&family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.PostCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    text-align: left;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: background-color 1s ease;
}

@media only screen and (max-width: 500px) {


    #PostCard_left {
        width: 100% !important;
        height: 50% !important;
    }

    #PostCard_left a {
        padding-top: 10px !important;
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        overflow: hidden !important;
    }

    #Post-Card-img {
        width: auto !important;
        /* Let the browser calculate the width */
        height: 100% !important;
        /* Ensuring the image fills the container vertically */
        object-fit: cover !important;
        border-radius: 5px 5px 0px 0px !important;
        box-shadow: none !important;
    }


    .PostCard_Details {
        flex-wrap: wrap !important;
        gap: 6px !important;
    }

    .PostCard_category {
        padding: 3px 7px !important;
        font-size: 10px !important;
    }

    .PostCard_Date {
        font-size: 13px !important;
    }

    #PostCard_MaleComments {
        height: 14px !important;
        margin-top: 0px !important;
    }
}

.PostCard.trusted {
    box-shadow: 0 0 10px rgb(4, 201, 255);
}

body.darkMode .PostCard.trusted {
    box-shadow: 0 0 7px rgb(255, 4, 4);
}

body.darkMode .PostCard {
    background-color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
}

#PostCard_title.darkMode {
    color: rgb(224, 224, 224);
}

#PostCard_title:hover {
    color: #11161a;
}

#PostCard_title.darkMode:hover {
    color: white;
}

#Post-Card-img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1) inset;
}

#PostCard-profile-pic {
    height: 28px;
    width: 28px;
}

#PostCard-profile-name {
    font-family: 'Gabarito', sans-serif;
}

.PostCard_category {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
    color: rgb(68, 68, 68);
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Gabarito', sans-serif;
    border: 1px solid rgba(38, 37, 37, 0.171);
}

.PostCard_Date {
    font-family: 'Gabarito', sans-serif;
}

.PostCard_Views {
    font-size: 12px;
    font-family: 'Gabarito', sans-serif;
}

.PostCard_Views i {
    margin-top: 3px;
}


#PostCard_Comments_Icon i {
    font-size: 30px;
    position: relative;
    font-weight: lighter;
}

#PostCard_MaleComments {
    fill: rgb(0, 0, 0);
    height: 20px;
    margin-top: 1px;
}

#PostCard_MaleComments_p {
    font-weight: 500;
    font-size: 14px;
}



#PostCard_Comments_Icon i p {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gabarito', sans-serif;
    font-size: 12px;
}

#PostCard_Comments_Icon svg {
    fill: black;
}

#PostCard_Comments_Icon svg.darkMode {
    fill: white;
}