#LowerNavigationBar {
    background: rgb(233 233 233 / 70%);
    background-color: rgb(22, 190, 246);
    transition: background-color 1s ease;
    width: 100vw;
    font-family: 'Gabarito', sans-serif;
}

#LowerNavigationBar.darkMode {
    background-color: #FF3500;
}

#LowerNavigationBar ul {
    display: flex;
    width: 100%;
}

#LowerNavigationBar ul a {
    flex-grow: 1;
    transition: background-color 0.4s ease;
}

#LowerNavigationBar ul a li {
    padding: 10px 5px;
    cursor: pointer;
    color: white;
    border: 1px solid rgb(22, 190, 246);
    font-weight: 500;
    transform: scale(1);
    transition: background-color 0.5s ease;
    border-radius: 2px;
    text-align: center;
}

body.darkMode #LowerNavigationBar ul li {
    border: 1px solid #FF3500;
}

#LowerNavigationBar ul a.active li {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.2s ease;
    color: black;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(22, 190, 246);
    border-style: solid;
}

body.darkMode #LowerNavigationBar ul a.active li {
    border-color: #FF3500;
}
