#LowerNavigationBar {
    background-color: rgb(22, 190, 246);
    width: 100dvw;
    font-family: 'Gabarito', sans-serif;
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    #LowerNavigationBar {
        transition: left 0.3s ease;
        position: fixed;
        left: -200vw;
        z-index: 5;
        top: 31%;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;
    }

    #LowerNavigationBar.active {
        left: 0vw;
    }

    .LowerNavigationBar_Three_Bars_Div {
        width: 100vw !important;
        display: flex !important;
        justify-content: flex-end;
        margin-right: 20px;
        padding: 0px 8px 0px 0px !important;
        font-size: 25px;
        margin-bottom: 10px;
    }
}

#LowerNavigationBar.darkMode {
    background-color: #FF3500;
}

.LowerNavigationBar_Three_Bars_Div {
    display: none;
}

#LowerNavigationBar a {
    flex-grow: 1;
    transition: background-color 0.4s ease;
}

#LowerNavigationBar a li {
    padding: 6px 0px 6px 0px;
    cursor: pointer;
    color: white;
    border: 1px solid rgb(22, 190, 246);
    font-weight: 500;
    transform: scale(1);
    transition: background-color 0.5s ease;
    border-radius: 2px;
    text-align: center;
}

body.darkMode #LowerNavigationBar li {
    border: 1px solid #FF3500;
}

#LowerNavigationBar a.active li {
    background-color: rgb(255, 255, 255);
    transition: background-color 0.2s ease;
    color: black;
    border-width: 2px 0px 2px 0px;
    border-color: rgb(22, 190, 246);
    border-style: solid;
    border-radius: 3px;
   
}

body.darkMode #LowerNavigationBar a.active li {
    border-color: #FF3500;
}

body.darkMode .LowerNavigationBar_Three_Bars_Div {
    color: white;
}

.LowerNavigationBar_Three_Bars_Div button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 0px 10px;
    border-radius: 5px;
}