@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Noto+Serif&family=Nunito&family=Petrona:ital,wght@1,300&family=Poppins&family=Roboto+Slab&family=Varela+Round&display=swap');

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#nav {
    background-color: white;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    position: relative;
}

#nav.darkMode {
    background-color: #202021 !important;
    color: white !important;
}

.logo_div {
    align-items: center;
}

.logo {
    width: 32px;
    filter: brightness(200%);
}

.logo.darkMode {
    filter: brightness(200%) invert(100%);
}

.logo_Name {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Gabarito', sans-serif;
    margin-top: 4px;
}


.lower_Nav {
    /* background-color: rgb(19, 19, 21); */
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    font-family: 'Gabarito', sans-serif;
}

.search_div {
    align-items: center;
    height: 35px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.search_icon_div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: inherit;
    width: 40px;
    padding: 3px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.search_icon_div.darkMode {
    background-color: white;
}

.search_icon_div.darkMode button svg {
    fill: black !important;
}

#search_icon_div button {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_icon {
    fill: white;
    font-size: 20px;
}

#UpperNavigationBar_search_Input {
    border: 1px solid var(--secondryBlue);
    border-left: none;
    /* border-top: none; */
    padding: 1.7px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-block;
    height: 35px;
}

#UpperNavigationBar_search_Input.darkMode {
    border: 1px solid white;
}

.UpperNavigationBarNotificationUL li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: 3px;
}

.UpperNavigationBarNotificationUL li:nth-child(1) {
    width: 90%;
}

.UpperNavigationBarNotificationUL li:nth-child(2) {
    width: 10%;
}

.UpperNavBar_deleteNotification {
    font-size: 15px !important;
    text-align: right;
}

#UpperNavigationBar_Notification_profilePic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#upperNavbar_svg_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#search_icon_div svg {
    font-size: 16px;
}

#UpperNavigationBar_Bell_Div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    position: relative;
}

#UpperNavigationBar_Bell_Div>span {
    position: absolute;
    color: white;
    top: 7px;
    font-weight: lighter;
    right: -8px;
    background-color: red;
    border-radius: 50%;
    width: 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;

}

#UpperNavigationBar_Bell_Div i {
    font-size: 20px;
}

#UpperNavigationBar_Bell_Div section {
    display: none;
    position: fixed;
    top: 60px;
    border-radius: 5px;
    background-color: rgb(254, 254, 254);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    right: 100px;
    font-family: 'Poppins', sans-serif;
    max-width: 30vw;
    max-height: 40vh;
    overflow-x: hidden;
    z-index: 100;
    overflow-y: scroll;
}

#UpperNavigationBar_Bell_Div section.active {
    display: block;
}

#UpperNavigationBar_Bell_Div section ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* gap: 7px; */
    align-items: flex-start;
}

#UpperNavigationBar_Bell_Div section ul li div {
    width: 100%;
    text-align: left;
}

#UpperNavigationBar_Bell_Div section ul li {
    width: 100%;
    margin-top: 5px;
    list-style-position: inside;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    gap: 18px;
    padding: 10px 10px;
    background-color: whitesmoke;

}

#UpperNavigationBar_Bell_Div section ul li.unRead {
    background-color: white;
}

#UpperNavigationBar_Bell_Div section ul li.Read {
    background-color: rgb(230, 228, 228);
}

#UpperNavigationBar_Bell_Div section ul li:hover {
    background-color: rgba(74, 74, 74, 0.154);
}

#UpperNavigationBar_Notificaton_PopUp_overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    top: 0;
    right: 0px;
}

#UpperNavigationBar_Notificaton_PopUp_overlay.active {
    display: block;
}

#upperNavbar_svg_div img {
    width: 100%;

    height: 100%;
    border-radius: 50%;
}

#UpperNavigationBar_Buttons {
    margin-left: 15px;
    background-color: var(--secondryBlue);
    border-radius: 100px;
    box-shadow: rgba(44, 187, 182, 0.2) 0 -25px 18px -14px inset, rgba(44, 177, 187, 0.15) 0 1px 2px, rgba(48, 172, 225, 0.15) 0 2px 4px, rgba(44, 180, 187, 0.15) 0 4px 8px, rgba(44, 146, 187, 0.15) 0 8px 16px, rgba(44, 151, 187, 0.15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}