.SideBar {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 21%;
    height: 100vh;
    color: rgb(0, 0, 0);
    background-color: ghostwhite;
    transition: transform 200ms ease-in-out;
    z-index: 100;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.SideBar hr {
    height: 1px;
    background-color: rgb(5, 5, 5);
    border: none;
}

#Sidebar_Svg svg {
    fill: black;
    transform: scale(1.3);
}

.SideBar.Active {
    transform: translateX(0);
}

.SideBarCross {}