#SideBarContainer {}

.SideBar {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 21%;
    height: 100vh;
    color: rgb(0, 0, 0);
    background-color: ghostwhite;
    transition: transform 200ms ease-in-out;
    z-index: 100;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

body.darkMode .SideBar {
    background-color: black;
    color: white;
}

.SideBar::-webkit-scrollbar {
    display: none;
}

.SideBar hr {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.459);
    border: none;
}

body .SideBar hr {
    background-color: rgba(255, 255, 255, 0.459);
}

#Sidebar_Svg svg {
    transform: scale(1.3);
}

.SideBarContent svg {
    fill: black;
}

body.darkMode .SideBarContent svg {
    fill: white;
}



.SideBar.Active {
    transform: translateX(0);
    position: absolute;
    top: 0;
    right: 0px;
    width: 22%;
    height: 100vh;
    color: rgb(0, 0, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    background-color: whitesmoke;
    transition: transform 200ms ease-in-out;
}

.SideBarItems:hover {
    background-color: rgba(165, 165, 165, 0.267);
}

.SideBar_Day_Night_Mode {
    /* border-top: 1px solid rgba(0, 0, 0, 0.459); */
    padding-top: 10px;
    gap: 5px;
}

.SideBar_Day_Night_Mode>div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.44);
}

.SideBar_Day_Night_Mode>div:nth-child(1) {
    background-color: black;
    color: white;
}

.SideBar_Day_Night_Mode>div>i {
    font-size: 25px;
}