#Login_Container {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {

    .Login_Login {
        font-size: 20px !important;
        margin-top: 0px !important;
    }


    #Login_Container>div img {
        height: 40px !important;
    }

    #Login_Container>div {
        padding: 0px !important;
        width: 95% !important;
        border-radius: 5px !important;
        height: 70% !important;
        box-shadow: none !important;
    }

    body.darkMode #Login_Container>div {
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .Login_dont_have_acc {
        margin: 0 auto !important;
        font-size: 14px !important;
    }

    #Login_Container form {
        margin-top: 10px !important;
        margin-bottom: 5px !important;
    }

    #Login_Container input {
        width: 100% !important;
    }

    #Login>div {
        width: 80% !important;
    }

    #Login {
        margin: 10px 0px 10px 0px !important;
    }

    .Login_Google_Div {
        margin: 0 auto !important;
        width: 90% !important;
    }


}

#Login_Container>div img {
    height: 50px;
    filter: brightness(200%);
}

body.darkMode #Login_Container>div img {
    filter: brightness(200%) invert(100%);
}

#Login_Container>div {
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    height: 80%;
    background-color: #ffffff;
    position: relative;
    box-shadow: 20px 20px 40px #00000041, inset -20px -20px 40px #ffffffbb;
    animation: rotate 1s normal;
}

body.darkMode #Login_Container>div {
    background-color: black;
    box-shadow: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: white;
}

#Login_Container input {
    padding: 5px 10px;
    transition: 0.6s;
    outline: none;
    background-color: transparent;
    color: white;
    height: 35px;
    font-size: 15px;
}

#Login_Container i {
    height: 1px;
    background-color: black;
    transition: 0.6s;
}

body.darkMode #Login_Container i {
    background-color: white;
}

#Login_Container input:focus,
#Login_Container input:valid {
    background-color: rgb(25, 25, 28);
    color: white;
}

body.darkMode #Login_Container input:focus,
body.darkMode #Login_Container input:valid {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#Login_Container input:not(:valid):not(:placeholder-shown) {
    background-color: black;
    color: red;
}

#Login_Container input:not(:valid):not(:placeholder-shown)~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

#Login_Container input:not(:valid):not(:placeholder-shown)~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}

#Login_Container form {
    margin-top: 20px;
    margin-bottom: 10px;
}

#Login_Container form input:focus~i,
#Login_Container form input:valid~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}

#Login_Container form input:focus~span,
#Login_Container form input:valid~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

#Login_Container form span {
    position: absolute;
    top: 3px;
    left: 0;
    padding: 5px 5px;
    font-size: 1em;
    transition: 0.6s;
    font-weight: 600;
    pointer-events: none;
    transform: translate(0);
    letter-spacing: 1px;
}

#Google_Login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#Google_Login button {
    width: 30%;
    border-radius: 5px;
    padding: 5px 7px;
    background-color: red;
}