#Login_Container {
    height: 100%;
    background-color: rgb(246, 248, 250);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

#Login_Container img {
    height: 50px;
}

#Login_Container>div {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    height: 70%;
    background-color: #ffffff;
    position: relative;
    box-shadow: 20px 20px 40px #00000041, inset -20px -20px 40px #ffffffbb;
    animation: rotate 1s normal;
}

#Login_Container input {
    padding: 5px 10px;
    transition: 0.6s;
    outline: none;
    background-color: transparent;
    color: white;
    height: 35px;
    font-size: 15px;
}

/* #Login_Container input:-webkit-autofill {
    background-color: black;
} */



#Login_Container i {
    height: 1px;
    background-color: black;
    transition: 0.6s;
}

#Login_Container input:focus,
#Login_Container input:valid {
    background-color: rgb(25, 25, 28);
    color: white;
}

#Login_Container input:not(:valid):not(:placeholder-shown) {
    background-color: black;
    color: red;
}

#Login_Container input:not(:valid):not(:placeholder-shown)~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

#Login_Container input:not(:valid):not(:placeholder-shown)~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}
#Login_Container form{
    margin-top: 20px;
    margin-bottom: 10px;
}
#Login_Container form input:focus~i,
#Login_Container form input:valid~i {
    border: none;
    height: 0px;
    background-color: transparent;
    transition: 0.6;
}

#Login_Container form input:focus~span,
#Login_Container form input:valid~span {
    font-size: 0.85em;
    transform: translateY(-30px);
    transition: 0.6s;
}

#Login_Container form span {
    position: absolute;
    top: 3px;
    left: 0;
    padding: 5px 5px;
    font-size: 1em;
    transition: 0.6s;
    font-weight: 600;
    pointer-events: none;
    transform: translate(0);
    letter-spacing: 1px;
}