

:root {
    --secondryBlue: rgb(22, 190, 246);
    --secondaryWhite: #FAFAFA;
}

.GoToHomePageDiv {
    cursor: pointer;
    position: fixed !important;
    display: flex;
    gap: 5px;
    align-items: center;
    top: 10px;
    left: 5px;
}

.GoToHomePageDiv>div>img {
    height: 20px;
}

.GoToHomePageDiv>section>img {
    height: 20px;
}


.copyBtn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: 800;
    padding: 3px 10px;
}


