:root {
    --secondryBlue: rgb(22, 190, 246);
}

.GoToHomePageDiv {
    cursor: pointer;
    position: fixed !important;
    display: flex;
    gap: 5px;
    align-items: center;
    top: 10px;
    left: 5px;
}

body.darkMode .GoToHomePageDiv {
    color: white;
}

.GoToHomePageDiv>div>img {
    height: 20px;
}

.GoToHomePageDiv>section>img {
    height: 20px;
}

body.darkMode .GoToHomePageDiv>div>img {
    filter: invert(100%);
}

body.darkMode .GoToHomePageDiv>section>img {
    filter: invert(100%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.copyBtn {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: block;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 5px;
    margin: 5px auto 10px 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    transform: scale(1);
    transition: all 0.2s ease;
}


