@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Noto+Serif&family=Nunito&family=Petrona:ital,wght@1,300&family=Poppins&family=Roboto+Slab&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    background-color: #FFFFFF !important;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    transition: background-color 1s ease !important;
}

#root {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body.darkMode {
    background-color: #131315 !important;
}

h1 {
    font-size: 2rem;
}

.block {
    display: block !important;
}

.lightdark {
    top: -80vh;
}

/* utility Classes  */
.secondaryBlue {
    background-color: var(--secondryBlue);
}

.font_bold_500 {
    font-weight: 500;
}

.h-inherit {
    height: inherit;
}

.w-inherit {
    width: inherit;
}

.none {
    display: none !important;
}

.block {
    display: block !important;
    width: 100% !important;
}