@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Noto+Serif&family=Nunito&family=Petrona:ital,wght@1,300&family=Poppins&family=Roboto+Slab&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* background-color: rgb(79, 77, 77); */
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.block {
    display: block;
}

.lightdark {
    top: -80vh;
}

/* utility Classes  */
.green {
    background-color: rgb(7, 225, 7);
}

.font_bold_500 {
    font-weight: 500;
}